/* RESET === */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins';
	color: #fff;
	padding-bottom: 1000em;
}

p{
	opacity: 0.8;
	margin: 2em 0;
}

a{
	border:2px solid rgba(255,255,255,1);
	padding: 0.6em 3.5em;
	margin: auto;
	opacity: 0.8;
	color: #fff;
	text-decoration: none;
	border-radius: 50px;
	font-size: 0.9em;
}

a:hover{
	background: #fff;
	color: #000;
}
h1{
	font-weight: 600;
	font-size: 3em;
}


.banner{
	width: 100%;
	background: yellow;
	height: 700px;
	display: flex;
	align-items: center;
	text-align: left;
	/* efecto parallax */
	background: center fixed url(../img/bg.png)

}

.banner__description{
	width: 90%;
	max-width: 1000px;
	display: block;
	margin: auto;
}